.main-div {
    display: flex;
    flex-direction: column;
    gap: 200px;
    justify-content: center;
    align-items: center;
    width: 80%;
    background-color: #F4F5F8;
    margin-left: 20vh;
    min-height: calc(91vh - 80px);


    button {
        width: 250px;
        height: 40px;
        border: 0px;
        border-radius: 20px;
        background-color: #FCD400;
        font-weight: 6 00;
        margin-right: 20px;
        margin-bottom: 20px;
        cursor: pointer;
    }

    .destructure-image {
        width: 55%;
    }

    .web-image {
        width: 45%;
        position: relative;
        top: 100px;
    }


}