.main-div {
    width: 71%;
    background-color: #F4F5F8;
    margin-left: 30vh;
    min-height: calc(91vh - 80px);
    display: grid;
    color: #003C55;
    font-weight: 600;

    .title {
        align-self: center;
        justify-self: center;
    }

    input {
        border: 1px solid #003C55;
        box-shadow: 3px 2px rgb(208, 208, 208);
        height: 30px;
        background-color: white;
    }

    select {
        border: 1px solid #003C55;
        box-shadow: 3px 2px rgb(208, 208, 208);
        height: 30px;
        background-color: white;
        color: #003C55;
    }

    select option {
        border: 1px solid red;
        color: #003C55;
    }


    form {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(8, 1fr);
        gap: 10px;
        margin-left: 50px;
        margin-right: 50px;
        align-content: center;

        .field1 {
            display: flex;
            flex-direction: column;
            grid-row: 2;
            grid-column: 1;
        }

        .field2 {
            display: flex;
            flex-direction: column;
            grid-row: 2;
            grid-column: 3;
        }

        .field3 {
            display: flex;
            flex-direction: column;
            grid-row: 3;
            grid-column: 1;
        }

        .field4 {
            display: flex;
            flex-direction: column;
            grid-row: 3;
            grid-column: 3;
        }

        .address {
            display: flex;
            flex-direction: column;
            grid-row: 4;
            grid-column: 1;
        }

        .field5 {
            display: flex;
            flex-direction: column;
            grid-row: 5;
            grid-column-start: span 3;
        }

        .field6 {
            display: flex;
            flex-direction: column;
            grid-row: 6;
            grid-column: 1;
            grid-column-start: span 3;
        }

        .field7 {
            display: flex;
            flex-direction: column;
            grid-row: 7;
            grid-column: 1;
            width: 200px;
        }

        .field8 {
            display: flex;
            flex-direction: column;
            grid-row: 7;
            grid-column: 2;
            width: 200px;
            margin-left: 40px;
            justify-self: center;
        }

        .field9 {
            display: flex;
            flex-direction: column;
            grid-row: 7;
            grid-column: 3;
            width: 200px;
            justify-self: flex-end;
        }

        button {
            grid-row: 8;
            grid-column: 3;
            width: 250px;
            height: 40px;
            border: 0px;
            border-radius: 20px;
            background-color: #FCD400;
            font-weight: 600;
            cursor: pointer;
            justify-self: flex-end;
            transition: background-color 0.3s ease, transform 0.3s ease, cursor 0.3s ease;
        }

        button:hover {
            background-color: #FFC000;
            transform: scale(1.05);
        }

        button:disabled {
            cursor: not-allowed;
            opacity: 50%;
        }
    }
}

.error input {
    border: 1px solid red;
    box-shadow: 0 0 4px rgba(255, 0, 0, 0.6);
}

.error select {
    border: 1px solid red;
    box-shadow: 0 0 4px rgba(255, 0, 0, 0.6);
}

.error div {
    color: red;
    font-size: 12px;
    margin-top: 4px;
}

.error span {
    color: red;
    font-size: 12px;
    margin-top: 4px;
}

.required {
    color: red;
    margin-left: 4px;
}

.error-mail {
    color: red;
    font-size: 12px;
    margin-top: 4px;
}