.footer {
    background-color: gray;
    height: 200px;
    max-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    img {
        width: 30px;
        position: relative;
        top: 7px;
    }
}